// .flex-spacer[_ngcontent-tmv-c1] {
//     flex-grow: 1;
// }
.navigation{
    float: right;

    text-align: right !important;
    
    width: 80%;
}
.anchor{
    float: left;

width: 44%;
}
.navBar{
    float: left;
}
// .awe{
//     float: left;
// }