<div class="container user-table">

  <!-- No data message -->
  <div class="alert alert-success text-center" role="alert" *ngIf="Users.length <= 0">
      No Books added yet!
  </div>
<div class="col-md-12">
<div class="row mt-5">
    <div class="col-md-4" *ngFor="let user of Users; let i = index">
        <img [src]="user.avatar" class="mr-3" [alt]="user.name" height="200" width="300">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{user.name}}</h5>
          
          
        </div>
        </div>
    </div>


</div>
 

</div>